<div class="container">
  <h1><%= @restaurant.name %></h1>
  <h3>Adress: <%= @restaurant.address %></h3>
  <h3>Rating: <%= @restaurant.stars %></h3>
  <h3>Reviews: </h3>
  <% @restaurant.reviews.each do |review| %>
    <p><%= "- #{review.comment} | Rating: #{review.rating}" %>
    <%= link_to 'Remove review', review_path(review), method: :delete, data: { confirm: "Are you sure?" }, class:'text-danger' %>

    </p>
  <% end %>
  <%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>
  <br>
  <%= link_to "See all restaurants", restaurants_path %>

</div>
